body {
	font-family: "Calibri", "Arial";
}

.small-map {
	width: 90%;
	height: 400px;
	margin: 0 auto 15px auto;
	box-shadow: 10px 10px 15px 0px #ccc;	
}
.map-container {
	margin: 20px;
}


.mapsed-add-info h4 {
	margin: 0;
	padding: 0;
}
